{% extends 'base.html' %}
 
{% block content %}
    <h2>{{title}}</h2>
    <hr>
    <div class="content-center">

        <table id="table">
            <tr style="background-color: #9B859D">
                <th>Номер</th>
                <th>Рассылка</th>
                <th>Шаблон</th>
                <th>Список рассылки</th>
            </tr>
            <tr>
                <td>{{ object.pk }}</td>
                <td style="width: 20%; text-align:left; vertical-align: middle">{{object.name}}</td>
                <td style="width: 60%">
                    {% autoescape off %}
                    {{object.email_template}}
                    {% endautoescape %}
                </td>
                <td style="text-align:left; vertical-align: top; width: 20%">{{object.emails}}</td>
            </tr>
        </table>

    </div>
{% endblock %}